@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;700&family=Lexend+Deca&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Inter', sans-serif;
    color: hsl(0, 0%, 100%);
    min-width: 375px;
}

.card {
    border: 1px hidden;
    border-radius: 5px;
    z-index: 1;
    background-color: hsl(244, 38%, 16%);
    margin: 101px auto;
    width: 21rem;
    padding-bottom: 2rem;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 0 0;
    margin: 0;
    padding: 0;
}

.block {
    background: url('images/image-header-mobile.jpg') no-repeat;
    background-size: 100%;
    position: relative;
    border-radius: 5px 5px 0 0;
}

.block::before {
    background-color: hsl(277, 64%, 61%);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    opacity: 0.5;
    border-radius: 5px 5px 0 0;
}

.insights{
    margin-top: 35px;
}

.insights h1{
    text-align: center;
    margin-bottom: 15px;
    padding: 0 50px;
    color: hsl(0, 0%, 100%);
}

.insights p{
    text-align: center;
    line-height: 2em;
    font-weight: 200;
    font-size: small;
    padding: 0 50px;
    color: hsla(0, 0%, 100%, 0.75);
    margin-bottom: 35px;
}

.{
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    width: 25%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

. div{
    font-weight: bold;
    margin-bottom: 20px;
}

. span{
    font-variant: small-caps;
    font-weight: 100;
    color: hsla(0, 0%, 100%, 0.6);
}

@media only screen and (min-width: 1024px){
    .card{
        display: flex;
        width: 80%;
        padding-bottom: 0;
        justify-content: space-around;
        align-items: center;
    }

    .block{
        order: 2;
        flex: 1 auto;
        width: 50%;
    }

    .block::before{
        border-radius: 0 5px 5px 0;   
    }

    .insights{
        order: 1;
        flex: 1 auto;
        width: 50%;
        margin-top: 0;
    }

    img{
        border-radius: 0 5px 5px 0;
    }

    .insights h1{
        text-align: left;
        width: 90%;
    }

    .insights p{
        text-align: left;
        width: 90%;
    }

    .{
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;
        text-align: left;
        padding-right: 70px;
    }

    . span{
        display: block;
    }
}