@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;700&family=Lexend+Deca&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Inter', sans-serif;
    color: hsl(0, 0%, 100%);
    min-width: 375px;
}

.card {
    border: 1px hidden;
    border-radius: 5px;
    z-index: 1;
    background-color: hsl(244, 38%, 16%);
    margin: 101px auto;
    width: 21rem;
}


.block {
    background: url(images/image-header-mobile.jpg) no-repeat;
    background-size: 100%;
    background-color: hsl(277, 64%, 61%);
    background-blend-mode: multiply;
    position: relative;
    height: 240px;
    border-radius: 5px 5px 0 0;
}

.insights {
    margin-top: 35px;
}

.insights h1 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 1.7rem;
    padding: 0 50px;
    color: hsl(0, 0%, 100%);
}

.insights p {
    text-align: center;
    line-height: 2em;
    font-weight: 200;
    font-size: 1rem;
    padding: 0 50px;
    color: hsla(0, 0%, 100%, 0.75);
    margin-bottom: 35px;
}

. {
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    width: 25%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

. div {
    font-weight: bold;
    margin-bottom: 20px;
}

. span {
    display: block;
    font-variant: small-caps;
    font-weight: 100;
    color: hsla(0, 0%, 100%, 0.6);
}

@media only screen and (min-width: 860px) {
    .card {
        display: flex;
        width: 80%;
        height: 400px;
        justify-content: space-around;
    }

    .block {
        order: 2;
        flex: 1 auto;
        width: 50%;
        height: auto;
        background-position: center;
        background-size: cover;
        border-radius: 0 5px 5px 0;
    }

    .insights {
        order: 1;
        flex: 1 auto;
        width: 50%;
        margin-top: 2rem;
    }

    .insights h1 {
        text-align: left;
        width: 100%;
    }

    .insights p {
        text-align: left;
        width: 90%;
        margin-bottom: 20px;
    }

    . {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: baseline;
        width: 80%;
        margin: 0 auto;
        text-align: left;
        padding-right: 70px;
    }

    . span {
        display: block;
    }
}